<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Files</title>
</head>
<body>
    Los archivos subidos
    
    <hr>

    {% for info in data %}
        <div>
            <span>{{ info.username}}</span> <br>
            {% if info.image %}
                Full Path :: {{info.image.path}} <br>
                Size :: {{info.image.size}} <br>
                <img src="{{info.image.url}}" alt="" width="100">
            {% endif %}
        </div>
    {% endfor %}
</body>
</html>