
{% extends "layouts/base.html" %}


{% block main %}
    
    Django Builtin Login Registration App

    <hr>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors}}
        {% for field in form %}
            <div>
                <label class='label-input' id="{{field.id_for_label}}">
                    {{field.label}}
                </label>
                {{field}}
                {{field.errors}}
            </div>
        {% endfor %}

        <br>
        <input type="submit" value="Log In">
    </form>

    <form action="{% url 'logout' %}"  method="post">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form>
  

{% endblock main %}
